<html>
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
	<title>
		PROFILE PAGE
	</title>
</head>
<body>

	<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
                <a class="navbar-brand" href="./">
                    <b>ELECTION'S IITR</b>
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right scroll-me">
                <ul class="nav navbar-nav ">
                	<li><a href="./">Home</a></li>
                    <li><a href="../logout">Log Out</a></li>
            		<li><a href="/vote">Vote</a></li>
            		<li><a href="/candidate">Stand in elections!</a></li>
            		<li><a href="/vote/results">Results</a></li>
                </ul>
            </div>

        </div>
    </div>


	<div  id="content" style="margin-left:5px;">
		<div id="details">
		</br>
		</br>
		</br>
				{% if messages %}
		<ul style="list-style-type:none;">
		  {% for message in messages %}
		  <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red;font-weight:bold;">{{ message }}</li>
		  {% endfor %}
		</ul>
		{% endif %}
			<h3>YOUR PROFILE </h3>
		<b>Name : </b>{{ request.user.first_name }} {{ request.user.last_name }}
		<BR/>
		<b>Branch : </b>{{ profile.branch }}
		<BR/>
		<b>Year : </b>{{ profile.year }}
		<BR/>
		<b>Enrollment No. : </b>{{ profile.en_no}}
		<br/>
		<b>Gender : </b>{{ profile.gender }}
		<br/>
		<b>Birthday : </b>{{ profile.dob }}
		<BR/>

		</div>
	</div>
</body>
</html>
