<html>
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
	
<title>
	Welcome page
</title>
</head>

<body>

<div  id="header">
	<center><h3>Elections@IITR</h3></center>	
</div>

<div id="content">
<div>
{% if messages %}
	{% for message in messages %}
		<p {% if message.tags %} class="{{ message.tags }}"{% endif %} >
			{{ message }}
		</p>
		
	{% endfor %}
{% endif %}
</div>
<br/>


<div style="margin-left:15px;width:45%;float=left;">
<form action="/authentication/profile/" method="POST" >
{% csrf_token %}

<table class="table">

<tr><td colspan="2">
ALREADY REGISTERED, LOGIN HERE
</td></tr>
<tr><td>
Username
</td><td>
<input type=text name='username' ></input>
</td></tr>
<tr><td>
Password
</td><td> 
<input type=password name='password' ></input>
</td></tr>

<tr><td colspan="2">
<button type="submit" class="btn btn-primary">LOG IN</button>
</td></tr>

</table>

</form>
</div>

<div style="margin-left:15px;width:45%;float=right;">

<form action='./' method="POST">

{% csrf_token %}

<table class="table">

<tr>
<td colspan="2">
REGISTER NOW
</td>
</tr>

<tr><td>
First Name
</td><td>
{{ form.first_name }}
</td><td>
{{ form.first_name.errors }}
</td></tr>

<tr><td>
Last Name
</td><td>
{{ form.last_name }}
</td><td>
{{ form.last_name.errors }}
</td></tr>

<tr><td>
Username
</td><td>
{{ form.username }}
</td><td>
{{ form.username.errors }}
</td></tr>

<tr><td>
Password
</td><td>
{{ form.password }}
</td><td>
{{ form.password.errors }}
</td></tr>

<tr><td>
E-mail
</td><td>
{{ form.email }}
</td><td>
{{ form.email.errors }}
</td></tr>

<tr><td colspan="2">
<button type="submit" class="btn btn-primary">
	SIGN UP
</button>
</td>
</tr>
</table>

</div>

</form>

</div>
</div>
</body>
<html>